@import 'variables.scss';

.r {
  height: $spacing;
}

.app {
  color: $yellow;
  max-width: $contentWidth;
  margin: 0 auto;
  background-color: $background;

  header {
    text-align: center;
    padding: 0 $spacing;

    .logo {
      width: 50vw;
      max-width: 30em;
      min-width: 15em;
    }

    .filters-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-bar {
        @include border($yellow);
        padding: 0.5rem;
        background-color: $background;
        color: $yellow;
        font-family: inherit;
        width: 15em;
        font-size: 1.2em;
        transition: box-shadow 0.3s;

        &:disabled {
          border-color: $grey;
        }

        &:focus {
          box-shadow: 0px 0px 50px 0px rgba(255, 232, 31, 1);
          outline: none;
        }
      }

      .filter-button {
        margin-left: 1em;
        padding: 0.5em 0.4em 0.4em 0.4em;
        border-radius: $borderRadius;
        border: none;
        background-color: $yellow;
        vertical-align: middle;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
          background-color: rgba($yellow, 0.8);
        }

        &:disabled {
          opacity: 0.5;
        }

        img {
          width: 2em;
          vertical-align: middle;
        }
      }
    }
  }

  main {
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 1em;
        animation: rotation 2s infinite linear;
      }
    }

    .characters-length {
      text-align: center;
      font-size: 1.5em;
      position: fixed;
      z-index: 2;
      bottom: 1em;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
